<h2>Files and Folders</h2>

<table style="border: 1px solid; margin-left: 100px;">
  <tr>
    <th style="padding: 5px 10px 5px 10px">Sl.No</th>
    <th style="padding: 5px 10px 5px 10px">File Name</th>
    <th style="padding: 5px 10px 5px 10px">Permissions</th>
  </tr>
  {{#each this.files as |file|}}
        <tr>
            <td style="padding: 5px 10px 5px 10px">{{file.id}}</td>
            <td style="padding: 5px 10px 5px 10px">{{file.fname}}</td>
            <td style="padding: 5px 10px 5px 10px">
              <input type="checkbox" name="FC" id="FC" checked={{is-fc file.permissionval}} style="padding-left: 5px;">
              <label for="FC">Full Controll</label>
              <input type="checkbox" name="E" id="E" checked={{is-execute file.permissionval}} style="padding-left: 10px;">
              <label for="E">Read and Execute</label>
              <input type="checkbox" name="R" id="R" checked={{is-read file.permissionval}} style="padding-left: 10px;">
              <label for="R">Read</label>
              <input type="checkbox" name="W" id="W" checked={{is-write file.permissionval}} style="padding-left: 10px;">
              <label for="W">Write</label>
            </td>
        </tr>
  {{/each}}
</table>